In [1]:
import pandas as pd

In [2]:
#Прочитайте csv файл (метод read_csv) 

data = pd.read_csv(r'C:\Users\admin\Desktop\Настя\bestsellers with categories.csv')

In [3]:
#Виведіть перші 10 рядків (метод head) 

data.head(10)

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction
5,A Dance with Dragons (A Song of Ice and Fire),George R. R. Martin,4.4,12643,11,2011,Fiction
6,A Game of Thrones / A Clash of Kings / A Storm...,George R. R. Martin,4.7,19735,30,2014,Fiction
7,A Gentleman in Moscow: A Novel,Amor Towles,4.7,19699,15,2017,Fiction
8,"A Higher Loyalty: Truth, Lies, and Leadership",James Comey,4.7,5983,3,2018,Non Fiction
9,A Man Called Ove: A Novel,Fredrik Backman,4.6,23848,8,2016,Fiction

In [5]:
#Виведіть розміри датасету (метод shape) 

size = data.shape
print(size)
print('Датасет зберігає дані про ', size[0], 'книг')

(550, 7)
Датасет зберігає дані про  550 книг

In [7]:
#Змініть назви всіх колонок: назва з маленької букви, без пробілів через підкреслення. 

data.columns = ['name', 'author', 'user_rating', 'reviews', 'price', 'year', 'genre']
print(data)

                                                  name  \
0                        10-Day Green Smoothie Cleanse
1                                    11/22/63: A Novel
2              12 Rules for Life: An Antidote to Chaos
3                               1984 (Signet Classics)
4    5,000 Awesome Facts (About Everything!) (Natio...
..                                                 ...
545       Wrecking Ball (Diary of a Wimpy Kid Book 14)
546  You Are a Badass: How to Stop Doubting Your Gr...
547  You Are a Badass: How to Stop Doubting Your Gr...
548  You Are a Badass: How to Stop Doubting Your Gr...
549  You Are a Badass: How to Stop Doubting Your Gr...

                       author  user_rating  reviews  price  year        genre
0                    JJ Smith          4.7    17350      8  2016  Non Fiction
1                Stephen King          4.6     2052     22  2011      Fiction
2          Jordan B. Peterson          4.7    18979     15  2018  Non Fiction
3               George Orwell          4.7    21424      6  2017      Fiction
4    National Geographic Kids          4.8     7665     12  2019  Non Fiction
..                        ...          ...      ...    ...   ...          ...
545               Jeff Kinney          4.9     9413      8  2019      Fiction
546               Jen Sincero          4.7    14331      8  2016  Non Fiction
547               Jen Sincero          4.7    14331      8  2017  Non Fiction
548               Jen Sincero          4.7    14331      8  2018  Non Fiction
549               Jen Sincero          4.7    14331      8  2019  Non Fiction

[550 rows x 7 columns]

In [10]:
#Вивести кількість пропусків у кожному стовпчику. 

isna = data.isna().sum()
print('Кількість пропусків у кожному зі стовпців: ', isna)

for i in isna:
    if i>1:
        print('Пропуски є')
    else:
        print('Пропусків немає')

Кількість пропусків у кожному зі стовпців:  name           0
author         0
user_rating    0
reviews        0
price          0
year           0
genre          0
dtype: int64
Пропусків немає
Пропусків немає
Пропусків немає
Пропусків немає
Пропусків немає
Пропусків немає
Пропусків немає

In [11]:
#За допомогою методу unique  перевірте. Які є унікальні жанри в стовпці genre  

unique_genres = data['genre'].unique()
print('Унікальні жанри:', unique_genres)

Унікальні жанри: ['Non Fiction' 'Fiction']

In [13]:
#Визначте максимальну, мінімальну, медіанну ціну за допомогою методів  max, min, mean, median 

max_price = data['price'].max()
min_price = data['price'].min()
mean_price = data['price'].mean()
median_price = data['price'].median()

print('Максимальна ціна: ', max_price)
print('Мінімальна ціна: ', min_price)
print('Середня ціна: ', mean_price)
print('Медіанна ціна: ', median_price)

Максимальна ціна:  105
Мінімальна ціна:  0
Середня ціна:  13.1
Медіанна ціна:  11.0

In [19]:
#Виконайте наступні завдання з пошуку і сортування даних 

#Який рейтинг у датасеті найвищий? 

max_rating = data['user_rating'].max()
print('Найвищий рейтинг книги: ', max_rating)

#Скільки книг мають такий рейтинг?  

books = data[data['user_rating'] == max_rating].shape[0]
print(books, 'книг мають такий рейтинг')

#Яка книга має найбільше відгуків?  

max_reviews = data.sort_values('reviews', ascending = False)
print('Найбільше відгуків має книга', max_reviews['name'][0])

#З тих книг, що потрапили до Топ-50 у 2010 році, яка книга найдорожча ? 

max_price2010 = data[data.year == 2010].sort_values('reviews', ascending = False)
print('Найдорожча книга, що потрапила у Топ-50 у 2010 році коштувала', max_price2010['price'].iloc[0])

#Скільки книг жанру Fiction потрапили до Топ-50 у 2012 році  

top2012 = data[data.year == 2012].head(50)
fiction = top2012[top2012['genre'] == 'Fiction'].shape[0]
print(fiction, 'книг жанру Fiction потрапили у топ-50 у 2012 році')

#Скільки книг з рейтингом 4.9 потрапило до рейтингу у 2010 та 2011 роках (використовуйте | або метод isin)?  

books_2010 = data[(data['user_rating'] == 4.9) & (data['year'].isin([2010, 2011]))]
count_books = books_2010.shape[0]
print('Кількість книг з рейтингом 4.9 у 2010 та 2011 роках:', count_books)

Найвищий рейтинг книги:  4.9
52 книг мають такий рейтинг
Найбільше відгуків має книга 10-Day Green Smoothie Cleanse
Найдорожча книга, що потрапила у Топ-50 у 2010 році коштувала 14
21 книг жанру Fiction потрапили у топ-50 у 2012 році
Кількість книг з рейтингом 4.9 у 2010 та 2011 роках: 1

In [20]:
#Вивести максимальну і  мінімальну ціну для жанру Fiction I NonFiction (за допомогою методів  groupby та agg, для підрахунку мінімальних та максимальних значень використовуйте max та min). Використовуйте тількі потрібні вам стовпці. 

result = data.groupby('genre').agg({'price': ['max', 'min']})
result.columns = ['max_price', 'min_price']

print('Максимальна та мінімальна ціна для кожного жанру:')
print(result)

Максимальна та мінімальна ціна для кожного жанру:
             max_price  min_price
genre
Fiction             82          0
Non Fiction        105          0